{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Manage users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre de Usuario</th>
        <th>Email</th>
        <th>Es staff</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
      <tr>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.is_staff }}</td>
        <td>
          <form method="POST" action="{% url 'delete_user' u.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
