{% extends 'base.html' %} <!-- Cambio de base.html a home.html -->
{% load static %} <!-- Carga de archivos estáticos (imagenes) -->
{% block content %} <!-- Bloque de contenido -->

<!-- Sección principal web -->
<div class="container mt-5"> <!-- container me centra el contenido y me da margenes lat. (mt-2, es el margen sup.) -->
    <div class="row align-items-center"> <!-- me alinea contenido de las columnas al centro -->
        <!-- Sección de Texto -->
        <div class="col-md-5 text-start"> <!-- ocupa 5 de las 12 columnas en disp. medianos y text-start me alinea a izquierda -->
            <h1>Welcome to <span class="text-primary" >SafeDesk</span></h1><!-- negrita y color de texto oscuro (#343a40 en Bootstrap) -->
            <p class="text-secondary fs-5"> <!-- color letra gris tamaño de letra 20xp en bootstrap -->
                "Smart security for a connected campus"
            </p> 

            <!-- Botón para ver alertas-->
            <div style="height: 50px;"></div> 
            <div>
                <a href="{% url 'alerts' %}" class="btn btn-primary">Check alerts 🔊</a>
            </div>
        </div>

        <!-- Imagen ajustada -->
        <div class="col-md-7 text-end"> <!-- Imagen más a la derecha -->
            <img src="{% static 'images/logo_.png' %}" class="img-fluid" alt="image_homep"> 
        </div>
    </div>
</div>

{% endblock content %}


