{% extends 'base.html' %}

{% block content %}

<div class="container align-text-top mt-5">
    <h1>Alerts</h1>
    <h2 class="text-secondary">Below you can see all the registered alerts</h2>
    <div style="height: 50px;"></div> <!-- Deja un espacio de 50px -->
</div>

<div class="container">
    {% for alerta in alertass %}
    <div class="card mb-3" style="width: 22rem;">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Alert id: {{ alerta.id }}</h5>
                  <p class="card-text">{{ alerta.triggered_at }}</p>
                  <p class="card-text"><small class="text-muted">{{ alerta.hora }}</small></p>
                  <p class="card-text">{{ alerta.active_boolean }}</p>
                  <p class="card-text">{{ alerta.alert_type }}</p>
                </div>
              </div>
         </div>
      </div>
    {% endfor %}
  </div>

  {% endblock content%}

