{% extends 'base.html' %}

{% block content %}

<h1>Welcome to <span style="color: lightskyblue;">safeDesk</span></h1>

<h1><span style="color: lightskyblue;">description of our project</span></h1>
<h2> Is a service that includes a product for EAFIT which has to ensure the university computers, it´s called SafeDesk, which is a web application accompanied by IoT Hardware. This provides security to the University. Unlike the traditional security cameras that can only be used when the robbery is already made, our service sends real-time alerts. The project also includes a camera for facial recognition ofthe person who steals the equipment using an IA API</h2>
{% endblock content%}
