{% extends 'base.html' %}

{% block content %}
<style>
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        width: 600px;
    }

    .card-green {
        box-shadow: 0 4px 6px rgba(35, 198, 30, 0.1);
        border-color: green ;
    }

    .card-red {
        box-shadow: 0 4px 6px rgba(204, 6, 6, 0.1);
        border-color: red ;
    }

    .card h3 {
        margin-top: 0;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.85);
    }

    .card p {
        margin: 5px 0;
        color: rgba(0, 0, 0, 0.85);
    }
</style>

<div class="container align-text-top mt-5">
    <h1>🔊 History of alerts</h1>
    <p>Bellow you can see all the alerts registered in the system...</p>
    <div id="alertas-container" class="cards-container"></div>
    <div style="height: 50px;"></div> 
</div>

<script>
    function actualizarAlerta() {
      fetch("/update/alerts/")
          .then(response => response.json())
          .then(alerta => {
              let container = document.getElementById("alertas-container");
              container.innerHTML = ""; // Limpiar

              if (alerta && alerta.length > 0) {
                  let div = document.createElement("div");
                  let card_type = "";
                  let mensaje_estado = "";

                  if (alerta[3] != "FALSE" && alerta[3] != "ALERTA ACTIVADA!!") {
                      card_type = "card-green";
                      mensaje_estado = "🟢 Alerta inactiva";
                  } else {
                      card_type = "card-red";
                      mensaje_estado = "🔴 Alerta activa";
                  }

                  div.classList.add("card", card_type);
                  div.innerHTML = `
                      <h3>${mensaje_estado}</h3>
                      <p><strong>Fecha:</strong> ${alerta[0]}</p>
                      <p><strong>Descripción:</strong> ${alerta[2]}</p>
                  `;
                  container.appendChild(div);
              } else {
                  container.innerHTML = "<p>No hay alertas registradas.</p>";
              }
          })
          .catch(error => {
              console.error("Error cargando la última alerta:", error);
          });
  }


    setInterval(actualizarAlerta, 5000);
    actualizarAlerta();
</script>
{% endblock content %}
